@import 'https://fonts.googleapis.com/css?family=Oswald';

body {
	font-family: 'Oswald', sans-serif;
}

.video-clipper-app {
	max-width: 800px;
	h2 {
		text-align: center;
	}
}

.video-player {
	max-width: 100%;
	min-height: 200px;
}

.video-clip-list {
	list-style: none;
	padding: 0;

	.video-clip {
		font-size: 2em;
		border: 1px solid black;
		margin: 10px 0;
		padding: 10px;
		border-radius: 3px;
		display: flex;
		&.active {
			background-color: #b1e0e6;
		}
		&.editor{
			.display-name, .time { 
				display: none; 
			}
			.active-clip-control {
				width: 100%;
			}

		}
		.display-name, .time {
			flex: 1;
			justify-content: space-between;
		}
		.time {
			text-align: right;
		}
	}
}

.clip-form{
	display: flex;
	font-size: 20px;
	input, label {
		flex: 1 1 auto;
		justify-content: space-between;
		vertical-align: top;
	}
	input {
		height: 20px;
		font-size: 14px;
		text-align: center;
		margin-left: 5px;
		&.start, &.stop {
			width: 60px;
		}
	}
	input[type="submit"]{
		font-size: 20px;
	}
}

.edit-delete, .display-name {
	cursor: pointer;
	a {
		margin: 0 10px
	}
}